
$color_main: #2b3e50;
$header: #4e5d6c;
$header2: #485563;
$red: #d9534f;
$yellow: #f0ad4e;
$green: #5cb85c;
$blue: #5bc0de;

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $color_main;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}

a,h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
}

h1 { font-size: 28px; }
h2 { font-size: 16px; }

label {
  display: block;
  input[type="checkbox"] {
    display:none;
    & + span:before {
      font-family: 'FontAwesome';
      padding-right: 3px;
      font-size: 13px;
      content: "\f096";
    }
    &:checked + span:before {
      content: "\f046";
    }
  }
}

.inner {
  width: 82%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
}

header {
  background-color: $header;
  .inner {
    justify-content: space-between;
  }
}

.header-menu {
  display: flex;
  &__logo {
    padding: 10px 15px 8px 0px;
    font-size: 16px;
  }
  &__nav {
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }
    a {
      display: block;
      padding: 13px 15px;
      font-size: 11px;
      transition: background-color 0.3s;
      &:hover {
        background-color: $header2;
      }
    }
    &--pushed {
      display: block !important;
    }
  }
}

.header-profile {
  display: flex;
  width: 100px;
  justify-content: space-around;
  padding: 7px 0;
  &__btn {
    font-family: 'FontAwesome';
    font-size: 13px;
    font-style: normal;
    &:after {
      padding-left: 2px;
      font-size: 11px;
      font-style: normal;
      content: "\f0d7";
    }
  }
}

.content {
  .inner {
    flex-direction: column;
  }
}

.charts, .sales, .recommend {
  h1 {margin-bottom: 17px;}
}

.charts {margin-top: 67px;}
.recommend {margin-top: 65px;}
.sales {margin-top: 50px;}

.charts-content, .sales-content, .recommend-content {
  border-top: 1px solid #4e5d6c;
}

.charts-content {
  display: flex;
  padding-top: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  &-wrap {
    display: flex;
    flex-basis: 300px;
    flex-grow: 1;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    .c100 {
      font-size: 90px;
      margin-bottom: 10px
    }
  }
}

.today,.week,.month,.year {
  margin: 0 auto;
}

.btn_del, .btn_edit {
  width: 12px;
  height: auto;
}

.btn_menu {
  display: none;
}

.sales-content {
  padding-top: 23px;
  &__table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 10px;
    th,td { padding: 9px 5px; }
    th {
      cursor: pointer;
      &.headerSortUp,&.headerSortDown {
        text-decoration: underline;
        color: #ffcf8f;
      }
    }
    thead {
      tr:before {
        display: table-cell;
        vertical-align: middle;
        padding: 9px 5px;
        content: '#';
      }
    }
    tbody {
      counter-reset: index;
      tr {
        counter-increment: index;
        &:before {
          display: table-cell;
          content: counter(index);
          vertical-align: middle;
          padding: 9px 5px;
        }
        &:nth-child(odd){ background-color: $header; }
      }
    }
  }
}

.recommend-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -12px;
  padding-top: 20px;
  &__item {
    flex-basis: calc(33.3% - 24px);
    margin: 0 12px 12px 12px;
    height: auto;
    img {
      width: 100%;
      height: 100%;
      filter: blur(1px);
      &:hover {
        filter: blur(0);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .recommend-content {
    flex-direction: column-reverse;
  }
  table {border: 1px solid $header;}
  .header-menu__nav, .header-profile {display: none;}
  .btn_menu {display: block;}
  .header-menu__nav ul {flex-direction: column;}
  .inner {width: 95%;}
}
