block charts

    .charts
        h1 Charts
        .chart
            .chart__wrap
                .chart__item
                    .today.c100.p10.orange
                        span 10
                        .slice
                            .bar
                            .fill
                    h2 Today
                .chart__item
                    .week.c100.p75.orange
                        span 75
                        .slice
                            .bar
                            .fill
                    h2 Week
            .chart__wrap
                .chart__item
                    .month.c100.p45.green
                        span 45
                        .slice
                            .bar
                            .fill
                    h2 Month
                .chart__item
                    .year.c100.p90.blue
                        span 90
                        .slice
                            .bar
                            .fill
                    h2 Year