block recommend

    .recommend
        h1 We Recommend
        .recommend-content
            .recommend-content__item
                img(src='assets/styles/img/img1.jpg', srcset='assets/styles/img/img1-2x.jpg 2x')
            .recommend-content__item
                img(src='assets/styles/img/img2.jpg', srcset='assets/styles/img/img2-2x.jpg 2x')
            .recommend-content__item
                img(src='assets/styles/img/img3.jpg', srcset='assets/styles/img/img3-2x.jpg 2x')
    br
    br